n8n/whatsapp-task-workflow.json
{
  "name": "WhatsApp → Criar Tarefa (RT Publicidade)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-evolution",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-group",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "rightValue": "120363426584725074@g.us",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-not-fromme",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter-group",
      "name": "É o grupo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "id": "cond-conversation",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "id": "cond-audio",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "id": "cond-ptt",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "pttMessage",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pttMessage"
            }
          ]
        },
        "options": {}
      },
      "id": "node-switch",
      "name": "messageType",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-text",
              "name": "texto",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-text",
      "name": "Texto da mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 180]
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "tarefas-agencia",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}",
        "convertToMp4": true
      },
      "id": "node-get-audio",
      "name": "Baixar áudio (base64)",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [900, 380],
      "credentials": {
        "evolutionApi": {
          "id": "",
          "name": "Evolution tarefas-agencia"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": { "mimeType": "audio/mpeg" }
      },
      "id": "node-to-binary",
      "name": "Converter para arquivo",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1100, 380]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "node-whisper",
      "name": "Transcrever áudio (Whisper)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1300, 380],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI RT Publicidade"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-audio-text",
              "name": "texto",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-audio-text",
      "name": "Texto do áudio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 380]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto }}",
        "options": {
          "systemMessage": "=Você é um assistente da agência RT Publicidade que cria tarefas via WhatsApp de forma rápida e direta.\n\n**Quem enviou:** {{ $('Webhook').item.json.body.data.pushName }}\n**Número do remetente:** {{ ($('Webhook').item.json.body.data.key.participant || '').replace('@s.whatsapp.net','').replace('@lid','') }}\n**Data e hora atual:** {{ $now }}\n\n---\n\n## Regra principal\n\nAo receber uma mensagem sobre tarefa, chame `buscar_responsavel_por_whatsapp` IMEDIATAMENTE para identificar quem enviou. Depois monte a tarefa com os dados disponíveis e apresente para confirmação em UMA ÚNICA MENSAGEM. Nunca faça perguntas antes de apresentar a tarefa.\n\n---\n\n## Defaults automáticos (use sem perguntar)\n\n| Campo | Default |\n|---|---|\n| Responsável | Quem enviou a mensagem (resultado de `buscar_responsavel_por_whatsapp`) |\n| Prioridade | Média |\n| Tipo | Inferir pelo contexto (post/vídeo/criativo → Criativo, campanha → Campanha, relatório → Relatório, resto → Outro) |\n| Cliente | Nenhum (a menos que mencionado) |\n\n---\n\n## Interpretação de datas\n\nBase: {{ $now }}. Interprete sem pedir confirmação:\n- \"amanhã\" → próximo dia\n- \"sexta\", \"segunda\"... → próximo dia da semana mencionado\n- \"semana que vem\" → próxima segunda-feira\n- \"fim do mês\" → último dia do mês atual\n- \"dia 10\" → dia 10 do mês atual (próximo mês se já passou)\n- sem prazo mencionado → deixe due_date vazio e mostre como \"Sem prazo\"\n\n---\n\n## Fluxo\n\n**Passo 1 — Montar e confirmar (UMA mensagem)**\nSempre que receber uma mensagem sobre tarefa:\n1. Chame `buscar_responsavel_por_whatsapp` para identificar quem enviou\n2. Se a mensagem mencionar qualquer nome que possa ser um cliente (ex: \"cliente X\", \"para X\", \"do X\"), chame `listar_clientes` e tente encontrar o cliente pelo nome mencionado\n3. Monte a tarefa completa com defaults e apresente:\n\n```\n📋 *Nova tarefa:*\n\n*Título:* [título extraído da mensagem]\n*Responsável:* [nome]\n*Prioridade:* [prioridade]\n*Prazo:* [data por extenso ou \"Sem prazo\"]\n*Tipo:* [tipo]\n*Cliente:* [nome ou —]\n\n✅ *sim* para criar | ✏️ ou me diga o que corrigir\n```\n\n**Passo 2 — Criar**\nApós confirmação (sim, ok, pode criar, isso, confirmar, etc.):\n1. Chame `criar_tarefa`\n2. Chame `atribuir_responsavel` com o `task_id` retornado e o `member_id`\n\n**Passo 3 — Confirmar**\n```\n✅ Tarefa criada! 📋 [título] | 👤 [responsável] | 📅 [prazo]\n```\n\n---\n\n## Casos especiais\n\n**Saudação** (oi, olá, bom dia...): Responda pelo nome e pergunte se quer criar uma tarefa.\n> Olá, [nome]! 👋 Quer criar uma tarefa?\n\n**Falta o título**: Peça só o título, nada mais.\n\n**Menciona cliente**: Já foi chamado no Passo 1. Use o `id` encontrado no `criar_tarefa`. Se não encontrar correspondência exata, mostre o nome como digitado e marque com ⚠️ para o usuário confirmar.\n\n**Menciona outro responsável**: Use `listar_membros` para buscar o ID.\n\nNUNCA faça múltiplas perguntas. NUNCA crie sem confirmação."
        }
      },
      "id": "node-agent",
      "name": "Agente de Tarefas",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": { "temperature": 0.2 }
      },
      "id": "node-openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1560, 520],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI RT Publicidade"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.data.key.participant || $('Webhook').item.json.body.data.key.remoteJid }}",
        "contextWindowLength": 10
      },
      "id": "node-memory",
      "name": "Memória por membro",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1700, 520]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "team_members",
        "filters": {
          "conditions": [
            { "keyName": "whatsapp_number", "condition": "eq", "keyValue": "={{ ($('Webhook').item.json.body.data.key.participant || '').replace('@s.whatsapp.net','').replace('@lid','') }}" },
            { "keyName": "is_active", "condition": "eq", "keyValue": "=true" }
          ]
        },
        "options": { "select": "id,name,role" }
      },
      "id": "node-tool-buscar-resp",
      "name": "buscar_responsavel_por_whatsapp",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [1700, 520],
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase RT Publicidade"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "team_members",
        "filters": {
          "conditions": [
            { "keyName": "is_active", "condition": "eq", "keyValue": "=true" }
          ]
        },
        "options": { "select": "id,name,role" }
      },
      "id": "node-tool-membros",
      "name": "listar_membros",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [1840, 520],
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase RT Publicidade"
        }
      }
    },
    {
      "parameters": {
        "tableId": "task_assignees",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "task_id", "fieldValue": "={{ $fromAI('task_id', 'ID da tarefa recém criada', 'string') }}" },
            { "fieldId": "member_id", "fieldValue": "={{ $fromAI('member_id', 'ID do membro responsável', 'string') }}" }
          ]
        }
      },
      "id": "node-tool-atribuir",
      "name": "atribuir_responsavel",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [2260, 520],
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase RT Publicidade"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clients",
        "filters": {
          "conditions": [
            { "keyName": "status", "condition": "eq", "keyValue": "Ativo" }
          ]
        },
        "options": { "select": "id,name,company" }
      },
      "id": "node-tool-clientes",
      "name": "listar_clientes",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [1980, 520],
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase RT Publicidade"
        }
      }
    },
    {
      "parameters": {
        "tableId": "tasks",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "title", "fieldValue": "={{ $fromAI('title', 'Título da tarefa', 'string') }}" },
            { "fieldId": "description", "fieldValue": "={{ $fromAI('description', 'Descrição opcional', 'string') }}" },
            { "fieldId": "status", "fieldValue": "A Fazer" },
            { "fieldId": "priority", "fieldValue": "={{ $fromAI('priority', 'Prioridade: Baixa | Média | Alta | Urgente', 'string') }}" },
            { "fieldId": "type", "fieldValue": "={{ $fromAI('type', 'Tipo: Campanha | Criativo | Relatório | Onboarding | Otimização | Outro', 'string') }}" },
            { "fieldId": "recurrence", "fieldValue": "Nenhuma" },
            { "fieldId": "due_date", "fieldValue": "={{ $fromAI('due_date', 'Data de entrega no formato YYYY-MM-DD', 'string') }}" },
            { "fieldId": "client_id", "fieldValue": "={{ $fromAI('client_id', 'ID do cliente (opcional, deixe vazio se não houver)', 'string') }}" }
          ]
        }
      },
      "id": "node-tool-criar",
      "name": "criar_tarefa",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [2120, 520],
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase RT Publicidade"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "tarefas-agencia",
        "remoteJid": "120363426584725074@g.us",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "id": "node-reply",
      "name": "Responder no grupo",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [1940, 300],
      "credentials": {
        "evolutionApi": {
          "id": "",
          "name": "Evolution tarefas-agencia"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "É o grupo?", "type": "main", "index": 0 }]]
    },
    "É o grupo?": {
      "main": [[{ "node": "messageType", "type": "main", "index": 0 }]]
    },
    "messageType": {
      "main": [
        [{ "node": "Texto da mensagem", "type": "main", "index": 0 }],
        [{ "node": "Baixar áudio (base64)", "type": "main", "index": 0 }],
        [{ "node": "Baixar áudio (base64)", "type": "main", "index": 0 }]
      ]
    },
    "Texto da mensagem": {
      "main": [[{ "node": "Agente de Tarefas", "type": "main", "index": 0 }]]
    },
    "Baixar áudio (base64)": {
      "main": [[{ "node": "Converter para arquivo", "type": "main", "index": 0 }]]
    },
    "Converter para arquivo": {
      "main": [[{ "node": "Transcrever áudio (Whisper)", "type": "main", "index": 0 }]]
    },
    "Transcrever áudio (Whisper)": {
      "main": [[{ "node": "Texto do áudio", "type": "main", "index": 0 }]]
    },
    "Texto do áudio": {
      "main": [[{ "node": "Agente de Tarefas", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Agente de Tarefas", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memória por membro": {
      "ai_memory": [[{ "node": "Agente de Tarefas", "type": "ai_memory", "index": 0 }]]
    },
    "buscar_responsavel_por_whatsapp": {
      "ai_tool": [[{ "node": "Agente de Tarefas", "type": "ai_tool", "index": 0 }]]
    },
    "listar_membros": {
      "ai_tool": [[{ "node": "Agente de Tarefas", "type": "ai_tool", "index": 0 }]]
    },
    "listar_clientes": {
      "ai_tool": [[{ "node": "Agente de Tarefas", "type": "ai_tool", "index": 0 }]]
    },
    "criar_tarefa": {
      "ai_tool": [[{ "node": "Agente de Tarefas", "type": "ai_tool", "index": 0 }]]
    },
    "atribuir_responsavel": {
      "ai_tool": [[{ "node": "Agente de Tarefas", "type": "ai_tool", "index": 0 }]]
    },
    "Agente de Tarefas": {
      "main": [[{ "node": "Responder no grupo", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "instanceId": "rt-publicidade" }
}
