n8n/whatsapp-task-workflow.json
{
  "name": "WhatsApp → Criar Tarefa (RT Publicidade)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-evolution",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-group",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "rightValue": "120363426584725074@g.us",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-not-fromme",
              "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter-group",
      "name": "É o grupo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "id": "cond-conversation",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "id": "cond-audio",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "id": "cond-ptt",
                    "leftValue": "={{ $('Webhook').item.json.body.data.messageType }}",
                    "rightValue": "pttMessage",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pttMessage"
            }
          ]
        },
        "options": {}
      },
      "id": "node-switch",
      "name": "messageType",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-text",
              "name": "texto",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-text",
      "name": "Texto da mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 180]
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "tarefas-agencia",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}",
        "convertToMp4": true
      },
      "id": "node-get-audio",
      "name": "Baixar áudio (base64)",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [900, 380],
      "credentials": {
        "evolutionApi": {
          "id": "",
          "name": "Evolution tarefas-agencia"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": { "mimeType": "audio/mpeg" }
      },
      "id": "node-to-binary",
      "name": "Converter para arquivo",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1100, 380]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "node-whisper",
      "name": "Transcrever áudio (Whisper)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1300, 380],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI RT Publicidade"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-audio-text",
              "name": "texto",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-set-audio-text",
      "name": "Texto do áudio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 380]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto }}",
        "options": {
          "systemMessage": "=Você é um assistente da agência RT Publicidade que ajuda a criar tarefas via WhatsApp.\n\n**Quem enviou:** {{ $('Webhook').item.json.body.data.pushName }}\n**Número do remetente:** {{ ($('Webhook').item.json.body.data.key.participant || '').replace('@s.whatsapp.net','').replace('@lid','') }}\n**Data e hora atual:** {{ $now }}\n\n---\n\n## Informações necessárias\n\n**Obrigatórias:**\n- Título da tarefa\n- Responsável → use `buscar_responsavel_por_whatsapp` para encontrar o membro pelo número do remetente. Se não encontrar, use o nome do WhatsApp ({{ $('Webhook').item.json.body.data.pushName }}) e registre na descrição\n- Prioridade: Baixa | Média | Alta | Urgente → se não informada, use Média\n- Data de entrega\n\n**Opcional:** Cliente relacionado, descrição\n\n**Tipos:** Campanha | Criativo | Relatório | Onboarding | Otimização | Outro\n\n---\n\n## Interpretação de datas\n\nSempre interprete datas relativas com base na data atual ({{ $now }}).\nNUNCA peça a data no formato XX/XX/XXXX — interprete diretamente:\n- \"sexta\" → próxima sexta-feira\n- \"semana que vem\" → próxima segunda-feira\n- \"amanhã\" → dia seguinte\n- \"fim do mês\" → último dia do mês atual\n- \"dia 10\" → dia 10 do mês atual (ou próximo se já passou)\n\n---\n\n## Fluxo obrigatório\n\n**Passo 1 — Coletar informações**\nSe faltar alguma informação obrigatória (exceto responsável e prioridade que têm padrão), pergunte tudo de uma vez de forma clara.\n\n**Passo 2 — Confirmação**\nAntes de criar, SEMPRE apresente o resumo e peça confirmação:\n\n```\n📋 *Confirmar criação da tarefa?*\n\n*Título:* [título]\n*Responsável:* [nome]\n*Prioridade:* [prioridade]\n*Prazo:* [data por extenso, ex: sexta-feira, 28/03]\n*Tipo:* [tipo]\n*Cliente:* [nome ou Nenhum]\n\nResponda *sim* para criar ou corrija o que estiver errado.\n```\n\n**Passo 3 — Criar**\nSó chame `criar_tarefa` após receber confirmação (sim, ok, confirmar, pode criar, isso mesmo, etc.).\nLogo em seguida, se tiver o `member_id` do responsável, chame `atribuir_responsavel` com o `task_id` retornado e o `member_id`.\n\n**Passo 4 — Confirmar criação**\nApós criar, responda:\n```\n✅ *Tarefa criada com sucesso!*\n📋 [título] | 👤 [responsável] | 📅 [data]\n```\n\n---\n\n## Saudações e mensagens fora de contexto\nSe a mensagem for uma saudação (oi, olá, bom dia, boa tarde, etc.) ou não tiver relação com tarefas, responda de forma simpática pelo nome e pergunte se deseja criar uma tarefa. Exemplo:\n> Olá, [nome]! 👋 Posso te ajudar a criar uma tarefa. É isso que você precisa?\n\n## Regras gerais\n- Use `listar_membros` antes de mencionar nomes disponíveis\n- Use `listar_clientes` se o usuário mencionar um cliente\n- NUNCA crie sem confirmação\n- Responda sempre em português, de forma direta e sem enrolação"
        }
      },
      "id": "node-agent",
      "name": "Agente de Tarefas",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": { "temperature": 0.2 }
      },
      "id": "node-openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1560, 520],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI RT Publicidade"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.data.key.participant || $('Webhook').item.json.body.data.key.remoteJid }}",
        "contextWindowLength": 10
      },
      "id": "node-memory",
      "name": "Memória por membro",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1700, 520]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "team_members",
        "filters": {
          "conditions": [
            { "keyName": "whatsapp_number", "condition": "eq", "keyValue": "={{ ($('Webhook').item.json.body.data.key.participant || '').replace('@s.whatsapp.net','').replace('@lid','') }}" },
            { "keyName": "is_active", "condition": "eq", "keyValue": "=true" }
          ]
        },
        "options": { "select": "id,name,role" }
      },
      "id": "node-tool-buscar-resp",
      "name": "buscar_responsavel_por_whatsapp",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [1700, 520],
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase RT Publicidade"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "team_members",
        "filters": {
          "conditions": [
            { "keyName": "is_active", "condition": "eq", "keyValue": "=true" }
          ]
        },
        "options": { "select": "id,name,role" }
      },
      "id": "node-tool-membros",
      "name": "listar_membros",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [1840, 520],
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase RT Publicidade"
        }
      }
    },
    {
      "parameters": {
        "tableId": "task_assignees",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "task_id", "fieldValue": "={{ $fromAI('task_id', 'ID da tarefa recém criada', 'string') }}" },
            { "fieldId": "member_id", "fieldValue": "={{ $fromAI('member_id', 'ID do membro responsável', 'string') }}" }
          ]
        }
      },
      "id": "node-tool-atribuir",
      "name": "atribuir_responsavel",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [2260, 520],
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase RT Publicidade"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clients",
        "filters": {
          "conditions": [
            { "keyName": "status", "condition": "eq", "keyValue": "Ativo" }
          ]
        },
        "options": { "select": "id,name,company" }
      },
      "id": "node-tool-clientes",
      "name": "listar_clientes",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [1980, 520],
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase RT Publicidade"
        }
      }
    },
    {
      "parameters": {
        "tableId": "tasks",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "title", "fieldValue": "={{ $fromAI('title', 'Título da tarefa', 'string') }}" },
            { "fieldId": "description", "fieldValue": "={{ $fromAI('description', 'Descrição opcional', 'string') }}" },
            { "fieldId": "status", "fieldValue": "A Fazer" },
            { "fieldId": "priority", "fieldValue": "={{ $fromAI('priority', 'Prioridade: Baixa | Média | Alta | Urgente', 'string') }}" },
            { "fieldId": "type", "fieldValue": "={{ $fromAI('type', 'Tipo: Campanha | Criativo | Relatório | Onboarding | Otimização | Outro', 'string') }}" },
            { "fieldId": "recurrence", "fieldValue": "Nenhuma" },
            { "fieldId": "due_date", "fieldValue": "={{ $fromAI('due_date', 'Data de entrega no formato YYYY-MM-DD', 'string') }}" },
            { "fieldId": "client_id", "fieldValue": "={{ $fromAI('client_id', 'ID do cliente (opcional, deixe vazio se não houver)', 'string') }}" }
          ]
        }
      },
      "id": "node-tool-criar",
      "name": "criar_tarefa",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [2120, 520],
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase RT Publicidade"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "tarefas-agencia",
        "remoteJid": "120363426584725074@g.us",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "id": "node-reply",
      "name": "Responder no grupo",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [1940, 300],
      "credentials": {
        "evolutionApi": {
          "id": "",
          "name": "Evolution tarefas-agencia"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "É o grupo?", "type": "main", "index": 0 }]]
    },
    "É o grupo?": {
      "main": [[{ "node": "messageType", "type": "main", "index": 0 }]]
    },
    "messageType": {
      "main": [
        [{ "node": "Texto da mensagem", "type": "main", "index": 0 }],
        [{ "node": "Baixar áudio (base64)", "type": "main", "index": 0 }],
        [{ "node": "Baixar áudio (base64)", "type": "main", "index": 0 }]
      ]
    },
    "Texto da mensagem": {
      "main": [[{ "node": "Agente de Tarefas", "type": "main", "index": 0 }]]
    },
    "Baixar áudio (base64)": {
      "main": [[{ "node": "Converter para arquivo", "type": "main", "index": 0 }]]
    },
    "Converter para arquivo": {
      "main": [[{ "node": "Transcrever áudio (Whisper)", "type": "main", "index": 0 }]]
    },
    "Transcrever áudio (Whisper)": {
      "main": [[{ "node": "Texto do áudio", "type": "main", "index": 0 }]]
    },
    "Texto do áudio": {
      "main": [[{ "node": "Agente de Tarefas", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Agente de Tarefas", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memória por membro": {
      "ai_memory": [[{ "node": "Agente de Tarefas", "type": "ai_memory", "index": 0 }]]
    },
    "buscar_responsavel_por_whatsapp": {
      "ai_tool": [[{ "node": "Agente de Tarefas", "type": "ai_tool", "index": 0 }]]
    },
    "listar_membros": {
      "ai_tool": [[{ "node": "Agente de Tarefas", "type": "ai_tool", "index": 0 }]]
    },
    "listar_clientes": {
      "ai_tool": [[{ "node": "Agente de Tarefas", "type": "ai_tool", "index": 0 }]]
    },
    "criar_tarefa": {
      "ai_tool": [[{ "node": "Agente de Tarefas", "type": "ai_tool", "index": 0 }]]
    },
    "atribuir_responsavel": {
      "ai_tool": [[{ "node": "Agente de Tarefas", "type": "ai_tool", "index": 0 }]]
    },
    "Agente de Tarefas": {
      "main": [[{ "node": "Responder no grupo", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "instanceId": "rt-publicidade" }
}
