n8n-flows/gmb-leads-supabase.json
{
  "name": "GMB Leads → Supabase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b0c6a501-c1a4-4edc-b011-4091e27297bf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-5584, 208],
      "id": "bde2cf08-a192-4b77-a76f-9586ed1158b7",
      "name": "Webhook",
      "webhookId": "b0c6a501-c1a4-4edc-b011-4091e27297bf"
    },
    {
      "parameters": {
        "jsCode": "const empresas = items[0].json.body || [];\n\nreturn empresas.map(emp => {\n  const apenasDigitos = String(emp.telefone || '').replace(/\\D/g, '');\n  const comPais = apenasDigitos.startsWith('55') ? apenasDigitos : `55${apenasDigitos}`;\n  const ddd = comPais.slice(2, 4);\n  const numeroSemDDD = comPais.slice(4);\n  const jid_12 = `${comPais}@s.whatsapp.net`;\n  const jid_13 = `55${ddd}9${numeroSemDDD}@s.whatsapp.net`;\n\n  return {\n    json: {\n      nome_empresa: emp.nome_empresa || '',\n      endereco: emp.endereco || '',\n      website: emp.website || '',\n      rating: emp.rating || null,\n      reviews: emp.reviews || null,\n      especialidades: emp.especialidades || '',\n      telefone_original: emp.telefone || '',\n      jid_12,\n      jid_13\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5376, 192],
      "id": "85bfe991-3b43-4cbc-a857-369a7021ccf0",
      "name": "Formatar Empresas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f54ace6d",
              "name": "url_do_evolution",
              "value": "https://api.rtpublicidade.com/",
              "type": "string"
            },
            {
              "id": "ed523a0c",
              "name": "api_key_evolution",
              "value": "DAC08157180C-4A96-B22A-58766CD75810",
              "type": "string"
            },
            {
              "id": "8e88f47d",
              "name": "instancia_evolution",
              "value": "agencia",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-5072, 192],
      "id": "678bb300-81d0-48f4-abe0-326eb989d823",
      "name": "DADOS"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-4752, 192],
      "id": "d4a8a72b-8de9-4976-9c12-090d184be6c4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78f34ae6",
              "name": "remote_jid_12",
              "value": "={{ (() => { const tel = String($json.telefone_original).replace(/\\D/g, ''); const ddd = tel.slice(0, 2); let numero = tel.slice(2); if (numero.startsWith('9') && numero.length === 9) { numero = numero.slice(1); } return `55${ddd}${numero}@s.whatsapp.net`; })() }}",
              "type": "string"
            },
            {
              "id": "9d3dfda4",
              "name": "remote_jid_13",
              "value": "={{ (() => { const tel = String($json.telefone_original).replace(/\\D/g, ''); const ddd = tel.slice(0, 2); let numero = tel.slice(2); if (!numero.startsWith('9')) { numero = '9' + numero; } return `55${ddd}${numero}@s.whatsapp.net`; })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-4256, 240],
      "id": "359627a1-f201-41a7-ae8a-584c22b3dff3",
      "name": "Montar JIDs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DADOS').item.json.url_do_evolution }}/chat/whatsappNumbers/{{ $('DADOS').item.json.instancia_evolution }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('DADOS').item.json.api_key_evolution }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"numbers\": [\"{{ $('Montar JIDs').first().json.remote_jid_12.trim() }}\"] }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3904, 240],
      "id": "fb5e659a-a675-4118-9f46-cc10f83d53c6",
      "name": "Check JID 12",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "aa10db6d",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-3616, 80],
      "id": "ad4f1aec-a045-43a5-85c4-d9c884bed7fc",
      "name": "JID 12 existe?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DADOS').item.json.url_do_evolution }}/chat/whatsappNumbers/{{ $('DADOS').first().json.instancia_evolution }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('DADOS').item.json.api_key_evolution }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"numbers\": [\"{{ $('Montar JIDs').item.json.remote_jid_13.trim() }}\"] }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3408, 320],
      "id": "90c9b7c0-b5e4-49a9-9101-9d826aade372",
      "name": "Check JID 13",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "fbe31f74",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-3136, 464],
      "id": "d8cfccf4-d024-46a1-b435-86526d47b5ef",
      "name": "JID 13 existe?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "gmb_leads",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "anyFilter",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp_jid",
              "condition": "eq",
              "keyValue": "={{ $json.jid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-2864, 64],
      "id": "e031f7e3-4154-40e1-8bd1-b7a4c506f461",
      "name": "Verificar duplicata",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase - RTPUBLICIDADE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "9949dc12",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "empty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-2864, 336],
      "id": "0b78ca57-ff87-47b5-85d2-90ae3f060bbb",
      "name": "Já existe?"
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "gmb_leads",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "nome_empresa", "fieldValue": "={{ $('Loop Over Items').item.json.nome_empresa }}" },
            { "fieldId": "telefone",     "fieldValue": "={{ $('Loop Over Items').item.json.telefone_original }}" },
            { "fieldId": "whatsapp_jid", "fieldValue": "={{ $('JID 12 existe?').first().json.jid }}" },
            { "fieldId": "endereco",     "fieldValue": "={{ $('Loop Over Items').item.json.endereco }}" },
            { "fieldId": "website",      "fieldValue": "={{ $('Loop Over Items').item.json.website }}" },
            { "fieldId": "rating",       "fieldValue": "={{ $('Loop Over Items').item.json.rating }}" },
            { "fieldId": "reviews",      "fieldValue": "={{ $('Loop Over Items').item.json.reviews }}" },
            { "fieldId": "especialidades","fieldValue": "={{ $('Loop Over Items').item.json.especialidades }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-2368, 240],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Salvar no Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase - RTPUBLICIDADE"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-2128, 240],
      "id": "27d4e7eb-43e2-4957-9006-3881b9009a69",
      "name": "Aguardar",
      "webhookId": "1670e064-8750-49a0-a3ab-4d79a9e324a1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-2864, 576],
      "id": "44851715-7d48-482a-9b7e-1f318139e0a7",
      "name": "Ignorar duplicata"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook":            { "main": [[{ "node": "Formatar Empresas", "type": "main", "index": 0 }]] },
    "Formatar Empresas":  { "main": [[{ "node": "DADOS",            "type": "main", "index": 0 }]] },
    "DADOS":              { "main": [[{ "node": "Loop Over Items",   "type": "main", "index": 0 }]] },
    "Loop Over Items":    { "main": [[], [{ "node": "Montar JIDs",   "type": "main", "index": 0 }]] },
    "Montar JIDs":        { "main": [[{ "node": "Check JID 12",      "type": "main", "index": 0 }]] },
    "Check JID 12": {
      "main": [
        [{ "node": "JID 12 existe?", "type": "main", "index": 0 }],
        [{ "node": "Loop Over Items", "type": "main", "index": 0 }]
      ]
    },
    "JID 12 existe?": {
      "main": [
        [{ "node": "Verificar duplicata", "type": "main", "index": 0 }],
        [{ "node": "Check JID 13",        "type": "main", "index": 0 }]
      ]
    },
    "Check JID 13": {
      "main": [
        [{ "node": "JID 13 existe?",  "type": "main", "index": 0 }],
        [{ "node": "JID 12 existe?",  "type": "main", "index": 0 }]
      ]
    },
    "JID 13 existe?": {
      "main": [
        [{ "node": "JID 12 existe?",  "type": "main", "index": 0 }],
        [{ "node": "Loop Over Items", "type": "main", "index": 0 }]
      ]
    },
    "Verificar duplicata": { "main": [[{ "node": "Já existe?",        "type": "main", "index": 0 }]] },
    "Já existe?": {
      "main": [
        [{ "node": "Salvar no Supabase",  "type": "main", "index": 0 }],
        [{ "node": "Ignorar duplicata",   "type": "main", "index": 0 }]
      ]
    },
    "Salvar no Supabase":  { "main": [[{ "node": "Aguardar",          "type": "main", "index": 0 }]] },
    "Aguardar":            { "main": [[{ "node": "Loop Over Items",    "type": "main", "index": 0 }]] },
    "Ignorar duplicata":   { "main": [[{ "node": "Loop Over Items",    "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "instanceId": "f6dbd9dc65f3bd05a7695d7545a1a5a68ea11d42a1b8df5977de03c6227581c8"
  },
  "tags": []
}
