n8n-flows/gmb-leads-supabase.json
{
  "name": "GMB Leads → Supabase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b0c6a501-c1a4-4edc-b011-4091e27297bf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-5584, 208],
      "id": "bde2cf08-a192-4b77-a76f-9586ed1158b7",
      "name": "Webhook",
      "webhookId": "b0c6a501-c1a4-4edc-b011-4091e27297bf"
    },
    {
      "parameters": {
        "jsCode": "const empresas = items[0].json.body || [];\n\nreturn empresas.map(emp => {\n  const apenasDigitos = String(emp.telefone || '').replace(/\\D/g, '');\n  const comPais = apenasDigitos.startsWith('55') ? apenasDigitos : `55${apenasDigitos}`;\n  const ddd = comPais.slice(2, 4);\n  const numeroSemDDD = comPais.slice(4);\n  const jid_12 = `${comPais}@s.whatsapp.net`;\n  const jid_13 = `55${ddd}9${numeroSemDDD}@s.whatsapp.net`;\n\n  return {\n    json: {\n      nome_empresa: emp.nome_empresa || '',\n      endereco: emp.endereco || '',\n      website: emp.website || '',\n      rating: emp.rating || null,\n      reviews: emp.reviews || null,\n      especialidades: emp.especialidades || '',\n      telefone_original: emp.telefone || '',\n      jid_12,\n      jid_13\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-5376, 192],
      "id": "85bfe991-3b43-4cbc-a857-369a7021ccf0",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f54ace6d-93b9-4219-b7bc-c01baabc41ad",
              "name": "url_do_evolution",
              "value": "https://api.rtpublicidade.com/",
              "type": "string"
            },
            {
              "id": "ed523a0c-b1d7-4d15-957e-e08b22c64143",
              "name": "api_key_evolution",
              "value": "DAC08157180C-4A96-B22A-58766CD75810",
              "type": "string"
            },
            {
              "id": "8e88f47d-aef0-4c73-bcb9-025aebfc837b",
              "name": "instancia_evolution",
              "value": "agencia",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-5072, 192],
      "id": "678bb300-81d0-48f4-abe0-326eb989d823",
      "name": "DADOS"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-4752, 192],
      "id": "d4a8a72b-8de9-4976-9c12-090d184be6c4",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78f34ae6-559a-44d5-bb2e-90a22caa6d93",
              "name": "remote_jid_12",
              "value": "={{ \n  (() => {\n    const tel = String($json.telefone_original).replace(/\\D/g, '');\n    const ddd = tel.slice(0, 2);\n    let numero = tel.slice(2);\n    if (numero.startsWith('9') && numero.length === 9) {\n      numero = numero.slice(1);\n    }\n    return `55${ddd}${numero}@s.whatsapp.net`;\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "9d3dfda4-9461-4da1-9efa-ad5744ac48ff",
              "name": "remote_jid_13",
              "value": "={{ \n  (() => {\n    const tel = String($json.telefone_original).replace(/\\D/g, '');\n    const ddd = tel.slice(0, 2);\n    let numero = tel.slice(2);\n    if (!numero.startsWith('9')) {\n      numero = '9' + numero;\n    }\n    return `55${ddd}${numero}@s.whatsapp.net`;\n  })()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-4256, 240],
      "id": "359627a1-f201-41a7-ae8a-584c22b3dff3",
      "name": "SETA_12_13"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DADOS').item.json.url_do_evolution }}/chat/whatsappNumbers/{{ $('DADOS').item.json.instancia_evolution }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('DADOS').item.json.api_key_evolution }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\"{{ $('SETA_12_13').first().json.remote_jid_12.trim() }}\"]\n}",
        "options": { "redirect": { "redirect": {} } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3904, 240],
      "id": "fb5e659a-a675-4118-9f46-cc10f83d53c6",
      "name": "Check JID 12",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DADOS').item.json.url_do_evolution }}/chat/whatsappNumbers/{{ $('DADOS').first().json.instancia_evolution }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('DADOS').item.json.api_key_evolution }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numbers\": [\"{{ $('SETA_12_13').item.json.remote_jid_13.trim() }}\"]\n}",
        "options": { "redirect": { "redirect": {} } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-3408, 320],
      "id": "90c9b7c0-b5e4-49a9-9101-9d826aade372",
      "name": "Check JID 13",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "aa10db6d-a9eb-4fe4-b9ef-d187369e2b5e",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-3616, 80],
      "id": "ad4f1aec-a045-43a5-85c4-d9c884bed7fc",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "fbe31f74-4905-47a1-bda3-635a665a8ed5",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-3136, 464],
      "id": "d8cfccf4-d024-46a1-b435-86526d47b5ef",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "9949dc12-7010-4366-9596-a8412e0f7797",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-2864, 336],
      "id": "0b78ca57-ff87-47b5-85d2-90ae3f060bbb",
      "name": "If2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uXQv9K6TApUsOHo1S3rnlaQxWXhxeYe2p8uYDKEpz4M",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "filtersUI": {
          "values": [
            { "lookupColumn": "telefone", "lookupValue": "={{ $json.jid }}" }
          ]
        },
        "options": { "returnFirstMatch": true }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [-2864, 64],
      "id": "e031f7e3-4154-40e1-8bd1-b7a4c506f461",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1NffdMIvx1jCM9FE",
          "name": "Google Sheets - RTPUBLICIDADE"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nbzxofrllagqwwrwfskv.supabase.co/rest/v1/gmb_leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ienhvZnJsbGFncXd3cndmc2t2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3NTYyMDksImV4cCI6MjA4MTMzMjIwOX0.ZYqncurwo1osJcDw39Am0MaD9VJ_thnFBH5P0gEpzsY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ienhvZnJsbGFncXd3cndmc2t2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3NTYyMDksImV4cCI6MjA4MTMzMjIwOX0.ZYqncurwo1osJcDw39Am0MaD9VJ_thnFBH5P0gEpzsY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nome_empresa\": \"{{ $('Loop Over Items3').item.json.nome_empresa }}\",\n  \"telefone\": \"{{ $('Loop Over Items3').item.json.telefone_original }}\",\n  \"whatsapp_jid\": \"{{ $('If3').first().json.jid }}\",\n  \"endereco\": \"{{ $('Loop Over Items3').item.json.endereco }}\",\n  \"website\": \"{{ $('Loop Over Items3').item.json.website }}\",\n  \"rating\": {{ $('Loop Over Items3').item.json.rating || 'null' }},\n  \"reviews\": {{ $('Loop Over Items3').item.json.reviews || 'null' }},\n  \"especialidades\": \"{{ $('Loop Over Items3').item.json.especialidades }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-2368, 240],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Salvar no Supabase"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-2128, 240],
      "id": "27d4e7eb-43e2-4957-9006-3881b9009a69",
      "name": "Wait3",
      "webhookId": "1670e064-8750-49a0-a3ab-4d79a9e324a1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [-2864, 576],
      "id": "44851715-7d48-482a-9b7e-1f318139e0a7",
      "name": "No Operation, do nothing1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Code1", "type": "main", "index": 0 }]]
    },
    "Code1": {
      "main": [[{ "node": "DADOS", "type": "main", "index": 0 }]]
    },
    "DADOS": {
      "main": [[{ "node": "Loop Over Items3", "type": "main", "index": 0 }]]
    },
    "Loop Over Items3": {
      "main": [[], [{ "node": "SETA_12_13", "type": "main", "index": 0 }]]
    },
    "SETA_12_13": {
      "main": [[{ "node": "Check JID 12", "type": "main", "index": 0 }]]
    },
    "Check JID 12": {
      "main": [
        [{ "node": "If3", "type": "main", "index": 0 }],
        [{ "node": "Loop Over Items3", "type": "main", "index": 0 }]
      ]
    },
    "Check JID 13": {
      "main": [
        [{ "node": "If4", "type": "main", "index": 0 }],
        [{ "node": "If3", "type": "main", "index": 0 }]
      ]
    },
    "If3": {
      "main": [
        [{ "node": "Get row(s) in sheet1", "type": "main", "index": 0 }],
        [{ "node": "Check JID 13", "type": "main", "index": 0 }]
      ]
    },
    "If4": {
      "main": [
        [{ "node": "If3", "type": "main", "index": 0 }],
        [{ "node": "Loop Over Items3", "type": "main", "index": 0 }]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [[{ "node": "If2", "type": "main", "index": 0 }]]
    },
    "If2": {
      "main": [
        [{ "node": "Salvar no Supabase", "type": "main", "index": 0 }],
        [{ "node": "No Operation, do nothing1", "type": "main", "index": 0 }]
      ]
    },
    "Salvar no Supabase": {
      "main": [[{ "node": "Wait3", "type": "main", "index": 0 }]]
    },
    "Wait3": {
      "main": [[{ "node": "Loop Over Items3", "type": "main", "index": 0 }]]
    },
    "No Operation, do nothing1": {
      "main": [[{ "node": "Loop Over Items3", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "f6dbd9dc65f3bd05a7695d7545a1a5a68ea11d42a1b8df5977de03c6227581c8"
  },
  "tags": []
}
