n8n-workflows/etiqueta-whatsapp-cria-lead.json
{
  "name": "WhatsApp Etiqueta → Cria Lead no Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-etiqueta",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook - Recebe Etiqueta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "lead-etiqueta"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "labels.association",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-002",
              "leftValue": "={{ $json.body.data.type }}",
              "rightValue": "add",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Filtrar Etiqueta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.rtpublicidade.com/contact/findContacts/agencia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "DAC08157180C-4A96-B22A-58766CD75810"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ where: { remoteJid: $json.body.data.chatId }, limit: 1 }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Buscar Contato Evolution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 220]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "lead_name",
              "value": "={{ ($json[0]?.pushName || $json[0]?.name || $json?.pushName || $json?.name || $('Filtrar Etiqueta').item.json.body.data.pushName || $('Filtrar Etiqueta').item.json.body.data.chatId?.split('@')[0] || 'Sem nome') }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "phone",
              "value": "={{ $('Filtrar Etiqueta').item.json.body.data.chatId?.split('@')[0] || $('Filtrar Etiqueta').item.json.body.data.sender?.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "company",
              "value": "",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "email",
              "value": "",
              "type": "string"
            },
            {
              "id": "field-005",
              "name": "stage",
              "value": "ATENDIMENTO_INICIA",
              "type": "string"
            },
            {
              "id": "field-006",
              "name": "source",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "field-007",
              "name": "deal_value",
              "value": "0",
              "type": "number"
            },
            {
              "id": "field-008",
              "name": "notes",
              "value": "={{ 'Lead criado automaticamente via etiqueta WhatsApp (ID: ' + $('Filtrar Etiqueta').item.json.body.data.labelId + ') em ' + new Date().toLocaleDateString('pt-BR') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Montar Dados do Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nbzxofrllagqwwrwfskv.supabase.co/rest/v1/sales_pipeline",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ienhvZnJsbGFncXd3cndmc2t2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3NTYyMDksImV4cCI6MjA4MTMzMjIwOX0.ZYqncurwo1osJcDw39Am0MaD9VJ_thnFBH5P0gEpzsY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ienhvZnJsbGFncXd3cndmc2t2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3NTYyMDksImV4cCI6MjA4MTMzMjIwOX0.ZYqncurwo1osJcDw39Am0MaD9VJ_thnFBH5P0gEpzsY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_name: $json.lead_name, phone: $json.phone, company: $json.company || null, email: $json.email || null, stage: $json.stage, source: $json.source, deal_value: $json.deal_value, notes: $json.notes }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Criar Lead no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: 'Lead criado com sucesso' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Resposta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, message: 'Evento ignorado - etiqueta não corresponde' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Resposta Ignorado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook - Recebe Etiqueta": {
      "main": [
        [
          {
            "node": "Filtrar Etiqueta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Etiqueta": {
      "main": [
        [
          {
            "node": "Buscar Contato Evolution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contato Evolution": {
      "main": [
        [
          {
            "node": "Montar Dados do Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Dados do Lead": {
      "main": [
        [
          {
            "node": "Criar Lead no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Lead no Supabase": {
      "main": [
        [
          {
            "node": "Resposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "whatsapp"
    },
    {
      "name": "pipeline"
    },
    {
      "name": "automacao"
    }
  ]
}
