n8n-workflows/mensagem-atualiza-lead.json
{
  "name": "WhatsApp Mensagem → Atualiza Nome do Lead",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atualiza-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1c2d3e4-0001-0001-0001-000000000001",
      "name": "Webhook - Recebe Mensagem",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "atualiza-lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-002",
              "leftValue": "={{ $json.body.data.key?.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "cond-003",
              "leftValue": "={{ $json.body.data.pushName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1c2d3e4-0002-0002-0002-000000000002",
      "name": "Filtrar Mensagem Recebida",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "phone",
              "value": "={{ $json.body.data.key?.remoteJid?.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b1c2d3e4-0003-0003-0003-000000000003",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 220]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nbzxofrllagqwwrwfskv.supabase.co/rest/v1/sales_pipeline?phone=eq.{{ $json.phone }}&lead_name=eq.{{ $json.phone }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ienhvZnJsbGFncXd3cndmc2t2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3NTYyMDksImV4cCI6MjA4MTMzMjIwOX0.ZYqncurwo1osJcDw39Am0MaD9VJ_thnFBH5P0gEpzsY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ienhvZnJsbGFncXd3cndmc2t2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3NTYyMDksImV4cCI6MjA4MTMzMjIwOX0.ZYqncurwo1osJcDw39Am0MaD9VJ_thnFBH5P0gEpzsY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_name: $json.pushName }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b1c2d3e4-0004-0004-0004-000000000004",
      "name": "Atualizar Nome no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b1c2d3e4-0005-0005-0005-000000000005",
      "name": "Resposta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, message: 'Ignorado' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b1c2d3e4-0006-0006-0006-000000000006",
      "name": "Resposta Ignorado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook - Recebe Mensagem": {
      "main": [
        [
          {
            "node": "Filtrar Mensagem Recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagem Recebida": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "Atualizar Nome no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Nome no Supabase": {
      "main": [
        [
          {
            "node": "Resposta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "whatsapp"
    },
    {
      "name": "pipeline"
    },
    {
      "name": "automacao"
    }
  ]
}
