n8n-workflows/whatsapp-pipeline-automacao.json
{
  "name": "WhatsApp → Pipeline (Etiqueta + Nome)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "whatsapp-pipeline"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "r1c1",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "labels.association",
                    "operator": { "type": "string", "operation": "equals" }
                  },
                  {
                    "id": "r1c2",
                    "leftValue": "={{ $json.body.data.type }}",
                    "rightValue": "add",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "etiqueta"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "r2c1",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "messages.upsert",
                    "operator": { "type": "string", "operation": "equals" }
                  },
                  {
                    "id": "r2c2",
                    "leftValue": "={{ $json.body.data.key?.fromMe }}",
                    "rightValue": false,
                    "operator": { "type": "boolean", "operation": "equals" }
                  },
                  {
                    "id": "r2c3",
                    "leftValue": "={{ $json.body.data.pushName }}",
                    "rightValue": "",
                    "operator": { "type": "string", "operation": "notEmpty" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mensagem"
            }
          ]
        },
        "options": {}
      },
      "id": "aa000001-0002-0002-0002-000000000002",
      "name": "Roteador de Eventos",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f001",
              "name": "lead_name",
              "value": "={{ $json.body.data.pushName || $json.body.data.name || $json.body.data.chatId?.split('@')[0] || 'Sem nome' }}",
              "type": "string"
            },
            {
              "id": "f002",
              "name": "phone",
              "value": "={{ $json.body.data.chatId?.split('@')[0] || $json.body.data.sender?.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "f003",
              "name": "stage",
              "value": "ATENDIMENTO_INICIA",
              "type": "string"
            },
            {
              "id": "f004",
              "name": "source",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "f005",
              "name": "deal_value",
              "value": "0",
              "type": "number"
            },
            {
              "id": "f006",
              "name": "notes",
              "value": "={{ 'Lead criado automaticamente via etiqueta WhatsApp (ID: ' + $json.body.data.labelId + ') em ' + new Date().toLocaleDateString('pt-BR') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "aa000001-0003-0003-0003-000000000003",
      "name": "Montar Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nbzxofrllagqwwrwfskv.supabase.co/rest/v1/sales_pipeline",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ienhvZnJsbGFncXd3cndmc2t2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3NTYyMDksImV4cCI6MjA4MTMzMjIwOX0.ZYqncurwo1osJcDw39Am0MaD9VJ_thnFBH5P0gEpzsY" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ienhvZnJsbGFncXd3cndmc2t2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3NTYyMDksImV4cCI6MjA4MTMzMjIwOX0.ZYqncurwo1osJcDw39Am0MaD9VJ_thnFBH5P0gEpzsY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_name: $json.lead_name, phone: $json.phone, company: null, email: null, stage: $json.stage, source: $json.source, deal_value: $json.deal_value, notes: $json.notes }) }}",
        "options": {}
      },
      "id": "aa000001-0004-0004-0004-000000000004",
      "name": "Criar Lead no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 160]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "g001",
              "name": "phone",
              "value": "={{ $json.body.data.key?.remoteJid?.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "g002",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "aa000001-0005-0005-0005-000000000005",
      "name": "Extrair Dados Mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 420]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nbzxofrllagqwwrwfskv.supabase.co/rest/v1/sales_pipeline?phone=eq.{{ $json.phone }}&lead_name=eq.{{ $json.phone }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ienhvZnJsbGFncXd3cndmc2t2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3NTYyMDksImV4cCI6MjA4MTMzMjIwOX0.ZYqncurwo1osJcDw39Am0MaD9VJ_thnFBH5P0gEpzsY" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ienhvZnJsbGFncXd3cndmc2t2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3NTYyMDksImV4cCI6MjA4MTMzMjIwOX0.ZYqncurwo1osJcDw39Am0MaD9VJ_thnFBH5P0gEpzsY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ lead_name: $json.pushName }) }}",
        "options": {
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "aa000001-0006-0006-0006-000000000006",
      "name": "Atualizar Nome no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "aa000001-0007-0007-0007-000000000007",
      "name": "Resposta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, message: 'Ignorado' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "aa000001-0008-0008-0008-000000000008",
      "name": "Resposta Ignorado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 580]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Roteador de Eventos", "type": "main", "index": 0 }]]
    },
    "Roteador de Eventos": {
      "main": [
        [{ "node": "Montar Lead", "type": "main", "index": 0 }],
        [{ "node": "Extrair Dados Mensagem", "type": "main", "index": 0 }],
        [{ "node": "Resposta Ignorado", "type": "main", "index": 0 }]
      ]
    },
    "Montar Lead": {
      "main": [[{ "node": "Criar Lead no Supabase", "type": "main", "index": 0 }]]
    },
    "Criar Lead no Supabase": {
      "main": [[{ "node": "Resposta OK", "type": "main", "index": 0 }]]
    },
    "Extrair Dados Mensagem": {
      "main": [[{ "node": "Atualizar Nome no Supabase", "type": "main", "index": 0 }]]
    },
    "Atualizar Nome no Supabase": {
      "main": [[{ "node": "Resposta OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true },
  "tags": [{ "name": "whatsapp" }, { "name": "pipeline" }, { "name": "automacao" }]
}
